.mat-card {
  position: relative;
  background-color: #EEE;
  width: 50%;
  margin: 1em;
}

.mat-card:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}

.smoothieCardRoute {
  color: #555555;
  text-decoration: none;
}

.mat-card-header {
  font-size: 1.3em;
  border-bottom: 1px #333 solid;
}

.mat-card-title {
  font-size: 1.1em;
  margin-bottom: .2em;
}

.mat-card-subtitle {
  margin-bottom: .5em;
  font-size: small;
  color: white;
  padding: 0.3em 0.7em;
  background-color: #607D8B;
}

.mat-card-content {
  margin: .5em 0;
}

.ingredientsTitle {
  margin: 1em 0 .5em 8px;
}

button.delete {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: gray !important;
  color: white;
}
