@import '~@angular/material/theming';
@include mat-core();

$smoothie-primary: mat-palette($mat-red);
$smoothie-accent: mat-palette($mat-light-green);

$smoothie-warn: mat-palette($mat-deep-orange);

$smoothie-theme: mat-light-theme($smoothie-primary, $smoothie-accent, $smoothie-warn);

@include angular-material-theme($smoothie-theme);