<p class="userNotes">The section below allows; selecting a smoothie to view it's details, adding a new smoothie, and deleting a smoothie.</p>
<h2>Smoothie List</h2>
<div>
  <label>Smoothie name:
    <input #smoothieName />
  </label>
  <button (click)="add(smoothieName.value); smoothieName.value=''">
    add
  </button>
</div>
<ul class="smoothies">
  <li *ngFor="let smoothie of smoothies">
    <app-smoothie-card 
      [smoothie]="smoothie"
      (deleted)="delete($event)">
    </app-smoothie-card>
  </li>
</ul>

